doctype
html(ng-app='myApp')
    head
        title Simple app
        link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/css/foundation.min.css")
        link(rel="stylesheet" href="main.css")

    body

        section#map-container(ng-controller='MapController')

            nav.top-bar
                ul.title-area
                    li.name
                        h1
                            a Maps
                    li.toggle-topbar.menu-icon
                        a Menu
                section.top-bar-section
                    ul
                        li
                            button(ng-click='map.toggleHeat()') Heat Layer
                        li
                            button(ng-click='map.toggleTraffic()') Traffic Layer
                        li
                            button(ng-click='map.toggleBike()') Bike Layer

            .row#maps
                google-map.medium-4.columns(center='map.center' zoom='map.zoom' mark-click='map.markClick' draggable='true')
                    layer(type='HeatmapLayer' namespace='visualization' show='map.showHeatmap' onCreated='map.heatLayerCallback')
                google-map.medium-4.columns(center='map.center' zoom='map.zoom' mark-click='map.markClick' draggable='true')
                    layer(type='TrafficLayer' show='map.showTraffic')
                google-map.medium-4.columns(center='map.center' zoom='map.zoom' mark-click='map.markClick' draggable='true')
                    layer(type='BicyclingLayer' show='map.showBike')

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.3/angular-route.min.js')
        script(src='http://maps.googleapis.com/maps/api/js?libraries=weather,visualization&sensor=false&language=en&v=3.13')
        script(src='/lib/underscore-min.js')
        script(src='/lib/angular-google-maps.min.js')
        script(src='/scripts/mock-heat-layer.js')
        script(src='app.js')