doctype
html(ng-app='myApp')
    head
        title map app
        link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/css/foundation.min.css")
        link(rel="stylesheet" href="main.css")

    body
        section
            nav.top-bar
                ul.title-area
                    li.name
                        h1
                            a(href='#') Home
                    li.toggle-topbar.menu-icon
                        a Menu
                section.top-bar-section
                    ul
                        li
                            a(href='/#/sidebyside') side by side
                        li
                            a(href='/#/layered') Layered
                        li
                            a(href='/#/singlelayered') Single layered

        div(ng-view='')

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.3/angular-route.min.js')
        script(src='http://maps.googleapis.com/maps/api/js?libraries=weather,visualization&sensor=false&language=en&v=3.13')
        script(src='lib/underscore-min.js')
        script(src='lib/angular-google-maps.min.js')
        script(src='scripts/mock-heat-layer.js')
        script(src='app.js')