section(ng-controller='MapController2')
    nav.top-bar
        ul.title-area
            li.name
                h1
                    a Layered map
            li.toggle-topbar.menu-icon
                a Menu
        section.top-bar-section
            ul
                li
                    button(ng-click='map.toggleHeat()') Heat Layer
                li
                    button(ng-click='map.toggleTraffic()') Traffic Layer
                li
                    button(ng-click='map.toggleBike()') Bike Layer
    .row.single-map
        leaflet.medium-12.columns
