//- section(ng-controller='MapController1')
//-     nav.top-bar
//-         ul.title-area
//-             li.name
//-                 h1
//-                     a Side by side maps
//-             li.toggle-topbar.menu-icon
//-                 a Menu
//-         section.top-bar-section
//-             ul
//-                 li
//-                     button(ng-click='map.toggleHeat()') Heat Layer
//-                 li
//-                     button(ng-click='map.toggleTraffic()') Traffic Layer
//-                 li
//-                     button(ng-click='map.toggleBike()') Bike Layer

//-     .row.multi-maps
//-         google-map.medium-4.columns(center='map.center' zoom='map.zoom' mark-click='map.markClick' draggable='true')
//-             layer(type='HeatmapLayer' namespace='visualization' show='map.showHeatmap' onCreated='map.heatLayerCallback')
//-         google-map.medium-4.columns(center='map.center' zoom='map.zoom' mark-click='map.markClick' draggable='true')
//-             layer(type='TrafficLayer' show='map.showTraffic')
//-         google-map.medium-4.columns(center='map.center' zoom='map.zoom' mark-click='map.markClick' draggable='true')
//-             layer(type='BicyclingLayer' show='map.showBike')